In [ ]:
import pandas as pd

# Load the first CSV file into a DataFrame
df1 = pd.read_csv('/content/gender-classifier-DFE-791531.csv',encoding='latin')

# Load the second CSV file into another DataFrame
df2 = pd.read_csv('/content/Processed-Tweets-Train.csv')

# Merge the DataFrames based on the matching IDs
merged_df = pd.merge(df1, df2, left_on='_unit_id', right_on='tweet_id', how='inner')

# Write the merged DataFrame to a new CSV file
merged_df.to_csv('merged_file.csv', index=False)

In [ ]:
df3=pd.read_csv('merged_file.csv')
df3

<ipython-input-2-857776c734b8>:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df3=pd.read_csv('merged_file.csv')

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender_x,gender:confidence_x,profile_yn,profile_yn:confidence,created,...,tweet_count,tweet_created,tweet_id_x,tweet_location,user_timezone,user_id,gender_y,gender:confidence_y,created_at,tweet_id_y
0,815719227,False,finalized,3,10/26/15 23:30,male,1.0,yes,1.0,10/1/12 13:51,...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada),1210000000000000000,male,1,03/01/2020 02:17,815719227
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0,yes,1.0,10/1/12 13:51,...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada),1210000000000000000,male,1,02/01/2020 08:17,815719227
2,815719227,False,finalized,3,10/26/15 23:30,male,1.0,yes,1.0,10/1/12 13:51,...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada),1190000000000000000,male,1,26/10/2019 12:25,815719227
3,815719227,False,finalized,3,10/26/15 23:30,male,1.0,yes,1.0,10/1/12 13:51,...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada),1180000000000000000,male,1,17/10/2019 21:15,815719227
4,815719227,False,finalized,3,10/26/15 23:30,male,1.0,yes,1.0,10/1/12 13:51,...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada),1190000000000000000,male,1,18/10/2019 06:06,815719227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189764,815739587,False,finalized,3,10/26/15 23:37,female,1.0,yes,1.0,1/24/15 21:23,...,4025,10/26/15 13:18,6.587400e+17,the 6ix,Pacific Time (US & Canada),659000000000000000,female,1,1/24/15 21:23,815739587
189765,815739588,False,finalized,3,10/26/15 22:57,male,1.0,yes,1.0,8/8/10 16:33,...,4253,10/26/15 13:18,6.587400e+17,Earth,London,659000000000000000,male,1,08/08/2010 16:33,815739588
189766,815739590,False,finalized,3,10/26/15 23:04,male,1.0,yes,1.0,1/24/13 11:55,...,29190,10/26/15 13:18,6.587400e+17,"Nashville, TN",Central Time (US & Canada),659000000000000000,male,1,1/24/13 11:55,815739590
189767,815739591,False,finalized,3,10/27/15 1:40,male,1.0,yes,1.0,12/19/14 13:54,...,11117,10/26/15 13:18,6.587400e+17,NaN,NaN,659000000000000000,male,1,12/19/14 13:54,815739591
189768,815739592,False,finalized,3,10/27/15 0:03,female,1.0,yes,1.0,4/15/15 19:15,...,5640,10/26/15 13:18,6.587400e+17,Glendale CA,NaN,659000000000000000,female,1,4/15/15 19:15,815739592

In [ ]:
df4=pd.read_csv('/content/Processed-Tweets-Test.csv')
merged_df1 = pd.merge(df1, df4, left_on='_unit_id', right_on='tweet_id', how='inner')

# Write the merged DataFrame to a new CSV file
merged_df1.to_csv('merged_file1.csv', index=False)

In [ ]:
df5=pd.read_csv('merged_file1.csv')
df5

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender_x,gender:confidence_x,profile_yn,profile_yn:confidence,created,...,tweet_count,tweet_created,tweet_id_x,tweet_location,user_timezone,user_id,gender_y,gender:confidence_y,created_at,tweet_id_y
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0,yes,1.0,12/5/13 1:48,...,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai,766000000000000000,male,1,16/08/2016 17:56,815719226
1,815719226,False,finalized,3,10/26/15 23:24,male,1.0,yes,1.0,12/5/13 1:48,...,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai,766000000000000000,male,1,17/08/2016 01:53,815719226
2,815719226,False,finalized,3,10/26/15 23:24,male,1.0,yes,1.0,12/5/13 1:48,...,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai,765000000000000000,male,1,16/08/2016 00:15,815719226
3,815719226,False,finalized,3,10/26/15 23:24,male,1.0,yes,1.0,12/5/13 1:48,...,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai,766000000000000000,male,1,16/08/2016 23:11,815719226
4,815719226,False,finalized,3,10/26/15 23:24,male,1.0,yes,1.0,12/5/13 1:48,...,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai,766000000000000000,male,1,16/08/2016 18:28,815719226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106334,815739564,False,finalized,3,10/26/15 22:59,female,1.0,yes,1.0,10/30/10 4:47,...,1919,10/26/15 13:18,6.587400e+17,Southampton,Amsterdam,659000000000000000,female,1,10/30/10 4:47,815739564
106335,815739565,False,finalized,3,10/26/15 23:34,female,1.0,yes,1.0,7/13/15 15:18,...,2364,10/26/15 13:18,6.587400e+17,"North Charleston, SC",NaN,659000000000000000,female,1,7/13/15 15:18,815739565
106336,815739569,False,finalized,3,10/26/15 23:43,male,1.0,yes,1.0,10/21/12 16:50,...,470,10/26/15 13:18,6.587400e+17,NaN,Eastern Time (US & Canada),659000000000000000,male,1,10/21/12 16:50,815739569
106337,815739579,False,finalized,3,10/26/15 23:00,female,1.0,yes,1.0,5/10/15 8:39,...,442,10/26/15 13:18,6.587400e+17,"Indiana, USA",NaN,659000000000000000,female,1,05/10/2015 08:39,815739579
106338,815739589,False,finalized,3,10/26/15 23:44,female,1.0,yes,1.0,7/21/09 11:45,...,10727,10/26/15 13:18,6.587400e+17,New Orleans,Mountain Time (US & Canada),659000000000000000,female,1,7/21/09 11:45,815739589

In [ ]:
tweet_df=[df3, df5]
result = pd.concat(tweet_df)
result

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender_x,gender:confidence_x,profile_yn,profile_yn:confidence,created,...,tweet_count,tweet_created,tweet_id_x,tweet_location,user_timezone,user_id,gender_y,gender:confidence_y,created_at,tweet_id_y
0,815719227,False,finalized,3,10/26/15 23:30,male,1.0,yes,1.0,10/1/12 13:51,...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada),1210000000000000000,male,1,03/01/2020 02:17,815719227
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0,yes,1.0,10/1/12 13:51,...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada),1210000000000000000,male,1,02/01/2020 08:17,815719227
2,815719227,False,finalized,3,10/26/15 23:30,male,1.0,yes,1.0,10/1/12 13:51,...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada),1190000000000000000,male,1,26/10/2019 12:25,815719227
3,815719227,False,finalized,3,10/26/15 23:30,male,1.0,yes,1.0,10/1/12 13:51,...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada),1180000000000000000,male,1,17/10/2019 21:15,815719227
4,815719227,False,finalized,3,10/26/15 23:30,male,1.0,yes,1.0,10/1/12 13:51,...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada),1190000000000000000,male,1,18/10/2019 06:06,815719227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106334,815739564,False,finalized,3,10/26/15 22:59,female,1.0,yes,1.0,10/30/10 4:47,...,1919,10/26/15 13:18,6.587400e+17,Southampton,Amsterdam,659000000000000000,female,1,10/30/10 4:47,815739564
106335,815739565,False,finalized,3,10/26/15 23:34,female,1.0,yes,1.0,7/13/15 15:18,...,2364,10/26/15 13:18,6.587400e+17,"North Charleston, SC",NaN,659000000000000000,female,1,7/13/15 15:18,815739565
106336,815739569,False,finalized,3,10/26/15 23:43,male,1.0,yes,1.0,10/21/12 16:50,...,470,10/26/15 13:18,6.587400e+17,NaN,Eastern Time (US & Canada),659000000000000000,male,1,10/21/12 16:50,815739569
106337,815739579,False,finalized,3,10/26/15 23:00,female,1.0,yes,1.0,5/10/15 8:39,...,442,10/26/15 13:18,6.587400e+17,"Indiana, USA",NaN,659000000000000000,female,1,05/10/2015 08:39,815739579
106338,815739589,False,finalized,3,10/26/15 23:44,female,1.0,yes,1.0,7/21/09 11:45,...,10727,10/26/15 13:18,6.587400e+17,New Orleans,Mountain Time (US & Canada),659000000000000000,female,1,7/21/09 11:45,815739589

In [ ]:
result.to_csv('extended_tweets.csv')